<div class="container">
  <h1>Results for <%= @query %>:</h1>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-8">
          Any Stop Name
        </div>
        <div class="col-4">
          any more products
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled
      link item</a>
  </div>
</div>