<div class="container">
  <h1>Results for "<%= @query %>"</h1>
  <div class="list-group">
    <% @results.times do |result| %>
      <a href="/search/result/<%= @result[result]["id"] %>" class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-7 stop-name">
            <%= @result[result]["name"] %>
          </div>
          <div class="col-5">
            <div class="row">
            <% if @result[result]["products"]["suburban"] == true %>
              <div class="col">
                <p>Suburban</p>
              </div>
            <% end %>
            <% if @result[result]["products"]["subway"] == true %>
              <div class="col">
                <p>Subway</p>
              </div>
            <% end %>
            <% if @result[result]["products"]["tram"] == true %>
              <div class="col">
                <p>Tram</p>
              </div>
            <% end %>
            <% if @result[result]["products"]["bus"] == true %>
              <div class="col">
                <p>Bus</p>
              </div>
            <% end %>
            <% if @result[result]["products"]["ferry"] == true %>
              <div class="col">
                <p>Ferry</p>
              </div>
            <% end %>
            <% if @result[result]["products"]["express"] == true %>
              <div class="col">
                <p>Express</p>
              </div>
            <% end %>
            <% if @result[result]["products"]["regional"] == true %>
              <div class="col">
                <p>Regional</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      </a>
    <% end %>
    </div>
</div>